h3 {
    text-decoration: underline;
  }

.card-container {
    border-width:2px;  
    border-style:solid;
    margin-left: 10px;
  }

.btn {
    border: dotted;
    border-color: darkgray;
    padding: 26px 6px;
    cursor: pointer;
    background-color: white;
    box-sizing: unset;
  }

  .btn::after {
      border: none;
  }